policy_module(wificoin, 1.100.1)

########################################
#
# Declarations
#

type wificoin_t;
type wificoin_exec_t;
init_daemon_domain(wificoin_t, wificoin_exec_t)

permissive wificoin_t;

type wificoin_initrc_exec_t;
init_script_file(wificoin_initrc_exec_t)

type wificoin_conf_t;
files_type(wificoin_conf_t)

type wificoin_var_lib_t;
files_type(wificoin_var_lib_t)

type wificoin_var_run_t;
files_type(wificoin_var_run_t)

type wificoin_port_t;
corenet_port(wificoin_port_t)

########################################
#
# wificoin local policy
#
allow wificoin_t self:process { fork };

allow wificoin_t self:fifo_file rw_fifo_file_perms;
allow wificoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(wificoin_t, wificoin_conf_t, wificoin_conf_t)
manage_files_pattern(wificoin_t, wificoin_conf_t, wificoin_conf_t)

manage_dirs_pattern(wificoin_t, wificoin_var_lib_t, wificoin_var_lib_t)
manage_files_pattern(wificoin_t, wificoin_var_lib_t, wificoin_var_lib_t)
files_var_lib_filetrans(wificoin_t, wificoin_var_lib_t, { dir file })

manage_dirs_pattern(wificoin_t, wificoin_var_run_t, wificoin_var_run_t)
manage_files_pattern(wificoin_t, wificoin_var_run_t, wificoin_var_run_t)

sysnet_dns_name_resolve(wificoin_t)
corenet_all_recvfrom_unlabeled(wificoin_t)

allow wificoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(wificoin_t)
corenet_tcp_sendrecv_generic_node(wificoin_t)
corenet_tcp_sendrecv_all_ports(wificoin_t)
corenet_tcp_bind_generic_node(wificoin_t)

gen_require(`
    type wificoin_port_t;
')
allow wificoin_t wificoin_port_t:tcp_socket name_bind;

gen_require(`
    type wificoin_port_t;
')
allow wificoin_t wificoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(wificoin_t)

files_read_etc_files(wificoin_t)

miscfiles_read_localization(wificoin_t)

sysnet_dns_name_resolve(wificoin_t)

allow wificoin_t wificoin_exec_t:file execute_no_trans;
allow wificoin_t self:process setsched;
corecmd_exec_ls(wificoin_t)
corenet_tcp_connect_http_port(wificoin_t)
dev_read_urand(wificoin_t)
fs_getattr_xattr_fs(wificoin_t)
kernel_read_system_state(wificoin_t)
