
## <summary>policy for wificoin</summary>


########################################
## <summary>
##	Transition to wificoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`wificoin_domtrans',`
	gen_require(`
		type wificoin_t, wificoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, wificoin_exec_t, wificoin_t)
')


########################################
## <summary>
##	Execute wificoin server in the wificoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wificoin_initrc_domtrans',`
	gen_require(`
		type wificoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, wificoin_initrc_exec_t)
')


########################################
## <summary>
##	Search wificoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wificoin_search_lib',`
	gen_require(`
		type wificoin_var_lib_t;
	')

	allow $1 wificoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read wificoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wificoin_read_lib_files',`
	gen_require(`
		type wificoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, wificoin_var_lib_t, wificoin_var_lib_t)
')

########################################
## <summary>
##	Manage wificoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wificoin_manage_lib_files',`
	gen_require(`
		type wificoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, wificoin_var_lib_t, wificoin_var_lib_t)
')

########################################
## <summary>
##	Manage wificoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wificoin_manage_lib_dirs',`
	gen_require(`
		type wificoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, wificoin_var_lib_t, wificoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a wificoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`wificoin_admin',`
	gen_require(`
		type wificoin_t;
		type wificoin_initrc_exec_t;
		type wificoin_var_lib_t;
	')

	allow $1 wificoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, wificoin_t)

	wificoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 wificoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, wificoin_var_lib_t)

')

